{% extends 'index.html' %}
{% block main %}
<div class="propo">
    <div>
        <h1>A propos de nous</h1><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing Eaque sequibr  tenetur
            , ullam dicta quia autem quo. Nam magni odio, aliquid error labore quia
            at minus, explicabo aperiam deleniti repellat sint. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Recusandae tempora nesciunt
            quia repellat fuga ipsa accusamus quaerat
            mollitia vel voluptatum! Delectus, quis facilis. Cumque laudantium saepe 
            maiores numquam placeat nemo?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, pariatur 
            voluptatibus omnis magnam accusamus mollitia sunt sequi? Vero maxime incidun
            t excepturi explicabo velit enim eveniet, optio possimus nam placeat hic.
        </p><br>
    </div>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/lamborghini-4820028_1920.png') }}" alt="">
    </div>
</div><br><br>

{% endblock %}