<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='adminLogin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='adminpannel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Voiture.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='shop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='shoponly.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='service.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='images/all.css') }}">
    <script src="https://kit.fontawesome.com/e398d2eba2.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header class="headlog-a">
    {% if 'user_name' in session %}
        <div class="statut">
            {% if 'user_photo' in session %}
            <div class="photoA">
                <img src="{{ url_for('static', filename='images/' + session['user_photo']) }}" alt="">
            </div>
            {% endif %}
            <div class="NomA">
                <div><span> {{ user_name }} </span></div>
                <div><span class="ligne">en ligne</span></div>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: rgb(255, 251, 0); font-weight: bold;">{{ message }}</li>
            {% endfor %}
        </ul><br>
        {% endif %}
        {% endwith %}
        <h1 class="">ADMIN PANNEL</h1><br>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Voluptate iste vel excepturi ipsam ipsa autem nihil praesentium
            nam earum ea quo beatae asperiores, consequuntur blanditiis
            quibusdam facere nobis tempore voluptas!
        </p>
        <a href="{{ url_for('logoutadmin') }}">Deconnexion <i class="fa-solid fa-right-from-bracket"></i></a>
    </header>
    {% block main %}
   
    {% endblock %}
    <footer class="footer">

    </footer>
    {% else %}
    <p style="font-size: 40px; font-weight: bold;"> Page inaccessible ! </p>
    <p><a href="{{ url_for('index') }}">Revenir</a></p>
    {% endif %}
</body>

</html>