{% extends 'base.html' %}
{% block main %}
<div class="con">
    <h1>Connectez vous</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit
        accusantium tempora esse alias soluta, quaerat libero molestiae
        consectetu</p>
</div><br><br>

<br>
<form action="" method="POST" style="display: flex; flex-direction: column; align-items: center;">
    <i class="fa-solid fa-user" style="font-size: 50px; color: rgb(41, 134, 226);"></i> <br><br>
    {{ form.hidden_tag() }}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="alert" style="width: 770px;">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul><br>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div>
        <ul class="alert" style="width: 770px;">
            {% for field, errors in form.errors.items() %}
            {% for error in errors %}
            <li>{{ field }}: {{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div><br>
    {% endif %}
    <p>
        {{ form.email }}<br>
    </p><br>
    <p>
        {{ form.password }}<br>
    </p>
    <br>
    <p>
    <div class="input">
        {{ form.connexion }}
    </div>
    </p>
    <br>
    <a href="{{ url_for('Signup') }}"> Créer un compte</a>
</form><br><br><br>
{% endblock %}